/* QCustomPlot控件相关的风格不受本文件控制 */

/* 串口开关样式 */
QPushButton#comSwitch{  
    border: 2px solid rgb(200, 50, 50);  
    color: rgb(200, 50, 50);
    width: 93px; 
    height: 30px;
    font-weight: bold;
}    
QPushButton#comSwitch:hover{     
    border: 2px solid rgb(255, 10, 10);
    color: rgb(255, 10, 10);
}  
QPushButton#comSwitch:pressed{  
    border: 2px solid rgb(20, 130, 220);
    color: rgb(20, 130, 220);
}
QPushButton#comSwitch:checked{  
    border: 2px solid rgb(50, 200, 50);
    color: rgb(50, 200, 50);
}  
QPushButton#comSwitch:checked:hover{
    border: 2px solid rgb(20, 230, 20);
    color: rgb(20, 230, 20);
}
QPushButton#comSwitch:checked:pressed{  
    border: 2px solid rgb(20, 130, 220);
    color: rgb(20, 130, 220);
} 
/* 点按交互区域 */
QPushButton{
  font-family: Microsoft YaHei UI;
}
QCheckBox{
  font-family: Microsoft YaHei UI;
}
QComboBox{
  font-family: Microsoft YaHei UI;
}
QMessageBox{
  font-family: Microsoft YaHei UI;
}
QInputDialog{
  font-family: Courier New, Consolas, Microsoft YaHei UI;
}
QLineEdit{
  font-family: Courier New, Consolas, Microsoft YaHei UI;
}

/* 菜单栏 */
QMenuBar{
  font-family: Microsoft YaHei UI;
}
QMenu{
  font-family: Microsoft YaHei UI;
}
QAction{
  font-family: Microsoft YaHei UI;
}

/* 状态栏 */
QStatusBar{
  font-family: Microsoft YaHei UI;
}
QLabel{
  font-family: Microsoft YaHei UI;
}

/* 显示区 */
QListWidget{
  font-family: Courier New, Consolas, Microsoft YaHei UI;
  font-size: 10pt;
}
QTextEdit{
  font-family: Courier New, Consolas, Microsoft YaHei UI;
  font-size: 10pt;
}
QTextBrowser{
  font-family: Courier New, Consolas, Microsoft YaHei UI;
  font-size: 10pt;
}
QTableWidget{
  font-family: Courier New, Consolas, Microsoft YaHei UI;
  font-size: 10pt;
}
